@import './theme.scss';
@import './mixins/mixins.scss';
@import './mixins/utils.scss';

@include b(virtual-table) {
  height: 100%;
  width: 100%;
  border: $border-default;

  @include m(border) {
    td,
    th {
      border-right: $border-default;
      &:last-child {
        border-right: none;
      }
    }
  }

  @include e(header) {
    width: 100%;
    background-color: $header-color;
    border-bottom: $border-default;
  }

  @include e(cell) {
    padding: 10px 10px;
    @include textEllipsis();
  }

  @include e(body) {
    height: calc(100% - 42px);
    width: 100%;
    overflow: auto;

    td {
      border-bottom: $border-default;
      width: 100%;
    }
  }

  @include e(scroll) {
    width: 100%;

    table {
      width: 100%;
      border-collapse: collapse;
    }
  }

  @include e(row) {
    overflow: hidden;
    td {
      height: 100%;
      width: 100%;
      overflow-wrap: break-word;
    }
    &:hover {
      background-color: $highlight-color;
    }
  }

  @include e(tree-node) {
    display: flex;
    align-items: center;
    .node-icon {
      transition: transform 0.1s ease-in-out;
      margin-right: 6px;
      &.rotate90 {
        transform: rotate(0deg);
      }
    }
  }
}
